
body{
    font-family: Arial, sans-serif;
    background-color: rgb(249, 249, 172);
    border: 10px solid #8b0000;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

h1{
    font-size: 3rem;
    color: #333;
    margin-bottom: 10px;
}

h2{
    font-size: 1.5rem;
    padding: 10px 25px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 2px solid orange;
    border-radius: 5px;
    cursor: pointer;
}

.choices{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.choices button{
    font-size: 4rem;
    padding: 0px 20px;
    border-radius: 15px;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border: none;
    box-shadow: none;
    margin-bottom: 30px;
}



.button{
    font-size: 4rem;
}

.choices :hover{
    transform: scale(1.3);
}

#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
}

#resultDisplay{
    font-size: 2.5rem;
    margin: 15px 0;
}

.scoreDisplay{
    font-size: 2.5rem;
}

.greenText, #playerScoreDisplay{
    color: lightgreen;
}

.redText, #computerScoreDisplay{
    color: darkred;
}



/* This makes only the emojis very big */
#playerDisplay span, #computerDisplay span {
    font-size: 4rem;
    display: inline-block; /* Required for moving animations to work */
}

/* This targets only the emojis for the bouncing effect */
.bouncing {
    animation: jump 0.5s infinite ease-in-out;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Bounces up 20px */
    }
}

.emoji-row {
    display: flex;
    flex-direction: row;       /* Forces them onto the same line */
    justify-content: center;   /* Centers them horizontally on the screen */
    gap: 60px;                 /* Puts space between the player and computer */
    width: 100%;               /* Spans the full width of the container */
}

